{% extends 'base.html'%}
{% load humanize%}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
<li class="breadcrumb-item active">{{ board.name }}</li>
<li class="breadcrumb-item active"><a href="{% url 'new_topic' board.pk%}">New Topic</a> </li>

{% endblock %}

{% block content %}
<table class="table table-striped mb-4">
    <thead class="thead-inverse">
    <tr>
        <th>Topic</th>
        <th>Starter</th>
        <th>Replies</th>
        <th>Views</th>
        <th>Last Update</th>
    </tr>
    </thead>
    <tbody>

    {% for topic in topics %}
    {% url 'topic_posts' board.pk topic.pk as topic_url %}
    <tr>
        <td>
        <p class="mb-0">
            <a href="{% url 'topic_posts' board.pk topic.pk %}">{{ topic.subject }}</a>
        </p>
        </td>
        <small class="text-muted">
            Pages:
            {% for i in topic.get_page_range %}
            <a href="{{ topic_url }}?page={{ i }}">{{ i }}</a>
            {% endfor %}
            {% if topic.has_many_pages %}
            ... <a href="{{ topic_url }}?page={{ topic.get_page_count }}">Last Page</a>
            {% endif %}
        </small>
        <td>
            {{ topic.stater.username }}
        </td>
        {% if topic.replies%}
        <td>{{ topic.replies}}</td>
        {%else%}
        <td> 0</td>
        {%endif%}
        <td>{{topic.views}}</td>
        <td>{{ topic.last_updated | naturaltime}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% if is_paginated %}
<nav aria-label="Topics pagination" class="mb-4">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">Previous</span>
        </li>
        {% endif %}

        {% for page_num in paginator.page_range %}
        {% if page_obj.number == page_num %}
        <li class="page-item active">
              <span class="page-link">
                {{ page_num }}
                <span class="sr-only">(current)</span>
              </span>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">Next</span>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}

